@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: 0 0 0;
    --white: 255 255 255;
    --hume-black-800: 26 26 26; /* #1a1a1a */
    --hume-black-700: 53 53 53; /* #353535 */
    --hume-black-600: 64 64 64; /* #404040 */
    --hume-black-500: 77 77 77; /* #4d4d4d */
    --hume-black-400: 102 102 102; /* #666666 */
    --hume-black-300: 128 128 128; /* #808080 */
    --hume-black-200: 153 153 153; /* #999999 */
    --hume-black-100: 191 191 191; /* #bfbfbf */

    --hume-tan-700: 153 144 135; /* #999087 */
    --hume-tan-600: 191 181 170; /* #bfb5aa */
    --hume-tan-500: 229 218 206; /* #e5dace */
    --hume-tan-400: 255 244 232; /* #fff4e8 */
    --hume-tan-300: 255 249 242; /* #fff9f2 */
    --hume-tan-200: 255 253 250; /* #fffdfa */

    --accent-orange-400: 163 127 84; /* #a37f54 */
    --accent-orange-300: 255 199 131; /* #ffc783 */
    --accent-orange-200: 255 219 176; /* #ffdbb0 */
    --accent-orange-100: 255 246 235; /* #fff6eb */

    --hot-pink-400: 240 46 170;
    --hot-pink-100: 255 232 255;

    --accent-pink-400: 240 46 170; /* #a16d6b */
    --accent-pink-300: 251 171 167; /* #a16d6b */
    --accent-pink-200: 252 201 199; /* #a16d6b */
    --accent-pink-100: 254 242 241; /* #a16d6b */

    --accent-purple-400: 152 125 155; /* #a16d6b */
    --accent-purple-300: 238 195 242; /* #a16d6b */
    --accent-purple-200: 244 217 247; /* #a16d6b */
    --accent-purple-100: 252 245 253; /* #a16d6b */

    --accent-blue-400: 117 134 151; /* #a16d6b */
    --accent-blue-300: 183 210 236; /* #a16d6b */
    --accent-blue-200: 209 226 243; /* #a16d6b */
    --accent-blue-100: 243 248 252; /* #a16d6b */

    --accent-turquoise-400: 117 149 151; /* #a16d6b */
    --accent-turquoise-300: 183 233 236; /* #a16d6b */
    --accent-turquoise-200: 209 241 243; /* #a16d6b */
    --accent-turquoise-100: 243 251 252; /* #a16d6b */

    --accent-green-400: 120 147 122; /* #a16d6b */
    --accent-green-300: 188 230 190; /* #a16d6b */
    --accent-green-200: 212 239 213; /* #a16d6b */
    --accent-green-100: 244 251 245; /* #a16d6b */

    --darkBackground: 0 0 0;
    --lightBackground: var(--hume-tan-200);
    --grayBackground: var(--hume-black-200);
  }

  html {
    @apply text-gray-700;
  }

  body {
    @apply bg-background-dark text-neutral-300 font-sans;
  }
}

@layer utilities {
  .font-thin {
    font-weight: 100;
    font-variation-settings: 'wght' 100;
  }

  .font-extralight {
    font-weight: 150;
    font-variation-settings: 'wght' 150;
  }

  .font-light {
    font-weight: 250;
    font-variation-settings: 'wght' 250;
  }

  .font-normal {
    font-weight: 350;
    font-variation-settings: 'wght' 350;
  }

  .font-medium {
    font-weight: 450;
    font-variation-settings: 'wght' 450;
  }

  .font-semibold {
    font-weight: 550;
    font-variation-settings: 'wght' 550;
  }

  .font-bold {
    font-weight: 650;
    font-variation-settings: 'wght' 650;
  }

  .font-extrabold {
    font-weight: 750;
    font-variation-settings: 'wght' 750;
  }

  .font-black {
    font-weight: 850;
    font-variation-settings: 'wght' 850;
  }
}

.ph-survey-container {
  /* add stub classname for tailwind eslint */
}
